.product{
    width: 645px;
    height: 600px;
    
}
.product h4{
    position: absolute;
    width: 121px;
    height: 24px;
    left: 320px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #6047EC;
}
.product img{
    width: 745px;
    height: 400px;
    border-radius: 10px;
}
.user{
    width: 50px;
    display: flex;

}

.user img{
    position: center;
    min-width: 100%;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    

}
.user h3{
    justify-content: space-between;
    width: 146px;
    height: 24px;
    
    
}
.icon{
    width: 40px;
    display: flex;
    color: #6047EC;      
}
.icon img{
    padding-right: 400px;
    min-width: 100%;
    border-radius: 50%;
    height: 20px;
    width: 15px;
    

}
.icon p{
    width: 90px;
}
.usericon{
    display: flex;
    justify-content: space-between;
}